* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #6a0dad;
  font-family: sans-serif;
  color: white;
  padding: 5%;
  font-size: 1.3rem;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1rem;
  color: #6a0dad;
  font-family: sans-serif;
  padding: 5vw;
}

.numbers {
  display: flex;
  color: #6a0dad;
  font-size: 5rem;
  font-family: sans-serif;
}
#one {
  background-color: yellow;
  border: 7px solid #6a0dad;
  border-radius: 5px;
  margin-right: 5vw;
  padding: 3.5vw 6vw;
}
#two {
  background-color: #00ffff;
  border: 7px solid #6a0dad;
  border-radius: 5px;
  padding: 3.5vw 6vw;
}
#three {
  background-color: #00FF00;
  border: 7px solid #6a0dad;
  border-radius: 5px;
  margin-left: 5vw;
  padding: 3.5vw 6vw;
}

p {
  font-size: .8rem;
}
